header {
    background-color: #f1f1f1; 
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
   }
   
   h1 {
    font-size: 2em;
    font-weight: bold;
   }
   